<app-loading-block *ngIf="!(this.isLoading$ | async)"></app-loading-block>
<div *ngIf="this.isLoading$ | async">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="courses-page">
    <main class="courses-page__contents">

      <!-- two-way binding -->
<!--      <input [(ngModel)]="searchedWord" class="courses-page__search-box" placeholder="Type to search">-->

      <input (keyup)="onChange($event)" [value]="this.searchedWord" placeholder="Type to search" class="courses-page__search-box" >

<!--      <button (click)="onClick()" class="courses-page__search-btn">Search</button>-->
      <div class="courses-page__add-container">
        <button class="courses-page__add-btn" (click)="onAdd()">Add course</button>
      </div>
      <div *ngIf="selectCourseLength$ | async">
        <app-course *ngFor="let course of (this.courses$ | async)" [course]="course" (onDelete)="onRootDelete($event)"
                    (onEdit)="onEdit($event)"></app-course>
        <div class="courses-page__load-more">
          <button class="courses-page__load-more-btn">Load more</button>
        </div>
      </div>

      <div *ngIf="!(selectCourseLength$ | async)"><h3>No data. Add new course</h3></div>

    </main>
  </div>
</div>
