<div class="course">
  <div class="course__header">
    <h2 class="course__title">{{course.title}}</h2>
    <div  class="course__info">
      <div>Duration: {{course.duration}}, </div>
      <div>created on {{course.creation}}</div>
    </div>
  </div>
  <div class="course__body">
    <div class="course__description">{{course.description}}</div>
    <div class="course__controls">
      <button class="course__btn">Edit course</button>
      <button class="course__btn" (click)="delete()">Delete course</button>
    </div>
  </div>
</div>
