.oval {
    position: relative;
	box-sizing: border-box;
	border-color: #979797;
	border-width: 2px;
    border-style: solid;
    border-radius: 50%;
	height: 28px;
	width: 28px;
}

.triangle {
    position: absolute;
	background-image: linear-gradient(141deg, #0079AD 11%, #B4D084 100%);
	border-radius: 1px;
    background-color: #D8D8D8;
    
    &--left {
        top: 7px;
        left: 11px;
        transform: rotate(70deg);
        height: 16px;
        width: 3px;
    }
    &--right {
        top: 7px;
        left: 5px;
        transform: rotate(30deg);
        height: 3px;
        width: 16px;
    }
}

