.content {
    min-height: 100vh;
    margin-bottom: -50px;
    background-color: #ececec;
  }

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: #303240;
  }