.login-controlls {
	line-height: 24px;
	letter-spacing: 0;
	color: #FFFFFF;
	font-size: 14px;
	font-family: "SourceSansPro-Regular";
	text-transform: none;
    text-align: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}